:root {
    --black: #000000;
}

body {
    font-family: karla, sans-serif;
    background-color: #f3f0e9;
}

#explore-btn, #locations-btn, #learn-more-btn {
    font-family: karla, sans-serif;    
}   

h1, h2, h3, nav {
    font-family: lato, sans-serif;
}

.wrapper {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.nav-bar {  
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    text-align: right;
    font-size: 22px;
    justify-content: space-between;
    float: right;
    width: 25%;
}

/* beginning of nav edits */
a:link {
    text-decoration: none;
    color: #ffff;
}

a:visited {
    color: #966f2c;
}

a:hover, a:focus {
    color: #966f2c;
    background-color: ;
}

a:active {
    color: #966f2c;
}

.hero {
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding-top: 100px;
    height: 50vh; 
    width: 87vw;
}

.hero-bg {
    background-color:  rgba(0, 0, 0, 0.5);
    height: 50vh;
}

.hero, h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffff;
}

.hero, p {
    font-size: 16px;
    text-transform: lowercase;
    text-align: center;
}

#explore-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: black;
    background-color: #ffff;
    padding: 20px;
    border: none;
    text-align: center;
    margin: 50px;
}

.welcome {
    width: 75vw;
    margin: 20px;
}

.welcome h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d69e3d;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: left;
}

.welcome h2 {
    font-weight: bold;
    padding-bottom: 25px; 
}

#pouring-latte-img {
    display: grid;
    width: 80vw;
}

.welcome-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
}

.offer-imgs {
    width: 40vw;
    margin: auto;
}

#visitus h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
    color: #d69e3d;
}

.whyvisit h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 75px;
}

#visitus h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

#visitus p {
    padding-bottom: 75px;
}

#menu-locations {
    background-image: url('../images/coffee-shop.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    height: 100vh; 
    width: 100vw;
}

.menu-locations-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.ourmenu h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d69e3d;
    padding-bottom: 25px;
    padding-top: 50px;
    width: 80vw;
}

.ourmenu h2 {
    text-transform: uppercase;
    color: #ffff;
    padding-bottom: 25px;
    font-weight: bold;
    width: 80vw;
}

.location h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d69e3d;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 80vw;
}

.location h2 {
    text-transform: uppercase;
    color: #ffff;
    padding-bottom: 25px;
    font-weight: bold;
    width: 80vw;
}

#locations-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: #ffff;
    background-color: transparent;
    text-align: center;
    margin: 25px;
    border: 2px solid;
    padding: 25px;
}

#about-us-img {
    width: 80vw;
    padding: 20px;
}

.aboutus h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d69e3d;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
}

.aboutus h2 {
    text-transform: uppercase;
    color: black;
    padding-bottom: 25px;
    padding-left: 20px;
    font-weight: bold;
}

.aboutus p {
    text-align: left;
    padding-left: 20px;
    width: 80vw;
}

#learn-more-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: #ffff;
    background-color: black;
    text-align: left;
    margin: 25px;
    border: none;
    padding: 25px;   
}

.testimonials {
    background-color: black;
}

#testimonial-one {
    width: 80vw;
    padding: 20px;
}

#testimonial-two {
    width: 80vw;
    padding: 20px;    
}

#testimonial-three {
    width: 80vw;
    padding: 20px;
}

.testimonials h3 {
    text-transform: uppercase;
    color: #d69e3d;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    width: 80vw;
}

.testimonials h2 {
    text-transform: uppercase;
    color: #ffff;
    font-size: 28px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 80vw;
}

.testimonials p {
    color: #ffff;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    width: 80vw;
}

.footer {
    color: #ffff;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 50px;
}

/* mobile */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: auto;
}

.welcome-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
}

#pouring-latte-img {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}
}

/* Tablet */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 62px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}